// Body
$body-bg: #F8FAFC;
$primary: #4263EB;

// Typography
$font-family-sans-serif: 'Inter', 'Spoqa Han Sans Neo', sans-serif;
//$font-family-sans-serif: SF Pro Display,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;
